<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Details</title>
  <link rel="stylesheet" href="/styles/communitydetails.css"> 
</head>
<body>
  <div class="container">
    <div class="community-header">
      <h1><%= communityDetails.Community_Name %></h1>
    </div>

    <div class="community-details">
      <% if (communityDetails.picture) { %>
        <img src="data:image/jpeg;base64,<%= communityDetails.picture %>" alt="Community Picture" class="community-img"> 
      <% } else { %>
        <img src="/images/log.png" alt="Default Community Picture" class="community-img">
      <% } %>
      <p><%= communityDetails.Description %></p>
      <p>Created on: <%= communityDetails.Creation_Date %></p>
    </div>
    <center>
    <div class="leaderboard">
      <h3>Leaderboard</h3>
      <ul>
          <% topUsers.forEach(user => { %>
              <li><%= user.Username %> - <%= user.Myntra_Points %> points</li>
          <% }); %>
      </ul>
  </div>
    <% if (isJoined) { %>
      <button class="join-button joined" disabled>Joined</button>
    <% } else { %>
      <form action="/join" method="GET">
        <input type="hidden" name="community_id" value="<%= communityId %>">
        <button class="join-button" type="submit">Join</button>
      </form>
    <% } %>
  </div>
</center>
  </div>

  <script src="/scripts.js"></script> 
</body>
</html>